@import "mixin.scss";

.container .article {
	margin-top: 14px;
	padding-bottom: 24px;

	h1 {
		font-size: 26px;
		margin: 12px;
		margin-bottom: 8px;

		@include desktop {
			padding-top: 24px;
		}
	}
	#date {
		margin: 0 12px;
		margin-bottom: 20px;
		font-size: 12px;
		font-weight: 500;
		color: #7c7c7c;
	}

	img {
		width: 100%;
		margin-bottom: 0px;
		aspect-ratio: 1.44/1;
		object-fit: cover;
	}
	#img-desc {
		text-align: center;
		margin: 12px;
		margin-top: 2px;
		margin-bottom: 24px;
		font-size: 14px;
		font-weight: 400;
		color: #969696;
	}
	p {
		font-size: 16px;
		font-weight: 400;
		margin: 12px;
		margin-bottom: 24px;
		line-height: 1.5;

		@include desktop {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	#copyright {
		margin: 12px;
		margin-top: 0px;
		font-size: 12px;
		font-weight: 400;
		color: #969696;

		@include desktop {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	#copyright strong {
		font-size: 12px;
		font-weight: 600;
	}
}