@import "mixin.scss";
@import "variable.scss";

h1 {
	display: inline-block;
	margin-bottom: 8px;
	
	@include desktop {
		margin-left: 0px;
	}
}

.list {
	width: 100%;

	.item {
		width: 100%;
		margin-bottom: 44px;

		@include desktop {
			display: flex;
			flex-direction: row;
		}

		img {
			width: 100%;
			aspect-ratio: 1.44/1;

			object-fit: cover;

			@include desktop {
				width: 300px;
				aspect-ratio: 1.6/1;
			}
		}
		.info {
			@include desktop {
				display: flex;
				flex-direction: column-reverse;
				justify-content: flex-end;
			}
		}
		h2 {
			font-size: 20px;
			font-weight: 700;

			margin: 8px 10px;
			color: #000000;
		}
		p {
			font-size: 12px;
			font-weight: 500;
			color: #7C7C7C;

			margin: 8px 10px;

			@include desktop {
				margin-bottom: 0px;
			}
		}
	}

	.item.skeleton {
		width: 100%;
		margin-bottom: 44px;

		@include desktop {
			display: flex;
			flex-direction: row;
		}

		.info {
			@include desktop {
				display: flex;
				flex-direction: column-reverse;
				justify-content: flex-end;
				width: calc(100% - 300px);
			}
		}

		.image {
			width: 100%;
			height: 100%;
			aspect-ratio: 1.44/1;

			background: linear-gradient(120deg, #e3e3e3 30%, #ebebeb 38%, #ebebeb 40%, #e3e3e3 48%);
			background-size: 200% 100%;
			background-position: 100% 0;		

			animation: skeleton 1.5s infinite;

			@include desktop {
				width: 300px;
				aspect-ratio: 1.6/1;
			}
		}
		.title:nth-of-type(1) {
			height: 20px;

			margin: 8px 10px;
			margin-top: 16px;
			margin-bottom: 0px;
			
			background: linear-gradient(120deg, #e3e3e3 30%, #ebebeb 38%, #ebebeb 40%, #e3e3e3 48%);
			background-size: 200% 100%;
			background-position: 100% 0;		

			animation: skeleton 1.5s infinite;

			@include desktop {
				margin-top: 5px;
				width: 70%;
			}
		}
		.title:nth-of-type(2) {
			height: 20px;
			width: 70%;

			margin: 8px 10px;
			margin-top: 5px;
			margin-bottom: 0px;

			background: linear-gradient(120deg, #e3e3e3 30%, #ebebeb 38%, #ebebeb 40%, #e3e3e3 48%);
			background-size: 200% 100%;
			background-position: 100% 0;		

			animation: skeleton 1.5s infinite;

			@include desktop {
				margin-top: 2px;
				width: 100%;
			}
		}
		.date {
			height: 16px;
			width: 140px;

			margin: 8px 10px;
			margin-top: 8px;

			background: linear-gradient(120deg, #e3e3e3 30%, #ebebeb 38%, #ebebeb 40%, #e3e3e3 48%);
			background-size: 200% 100%;
			background-position: 100% 0;
			
			animation: skeleton 1.5s infinite;
		}
	}

	.item:hover {
		cursor: pointer;
		text-decoration: underline #000000;
	}
}

@keyframes skeleton {
	100% {
        background-position: -100% 0;
	}
}

#more {
	display: flex;

	justify-content: center;
	align-items: center;

	width: 115px;
	height: 35px;

	margin: 30px auto;
	
	font-size: 16px;
	font-weight: 600;

	border: 1px solid #3D3D3D;
	border-radius: 40px;

	background-color: #FFFFFF;

	transition: color 0.3s, border 0.3s;
}
#more:hover {
	cursor: pointer;
	color: #676767;
	border: 1px solid #676767;
}